/* --- Root and Main Container --- */
.root {
  -fx-background-color: #f5f5f5;
  -fx-font-family: "Poppins", sans-serif;
}

/* --- Welcome Header --- */
.label-welcome {
  -fx-font-family: "Poppins Bold";
  -fx-font-size: 24px;
}

/* --- Group News Section --- */
.group-news-container {
  -fx-background-color: #ffffff;
  -fx-background-radius: 6;
}

.group-news-title {
  -fx-font-family: "Poppins SemiBold";
  -fx-font-size: 24px;
  -fx-text-fill: #212121;
}

.group-news-content {
  -fx-background-color: #e0e0e0;
  -fx-background-radius: 6;
  -fx-wrap-text: true;
  -fx-font-family: "Poppins Regular";
  -fx-font-size: 15px;
  -fx-text-fill: #212121;
  -fx-padding: 10px;
}

/* --- Activity Log Section --- */
.activity-log-title {
  -fx-font-family: "Poppins SemiBold";
  -fx-font-size: 18px;
}

.scroll-pane {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

/* --- My Task Section --- */
.task-container-title {
  -fx-font-family: "Poppins SemiBold";
  -fx-font-size: 20px;
  -fx-text-fill: #212121;
}

/* --- Navigation Sidebar --- */
.navigation-bar {
  -fx-background-color: #f5f5f5;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 0 2px 0 0; /* Right border only */
}

.nav-button {
  -fx-background-color: transparent; /* Default state */
}

.nav-button-active {
  -fx-background-color: #007766; /* Active state */
}